package ${replacer.getPackageName($properties)};

import java.io.IOException;
import brawljars.Api;

public interface ${filename} extends Api {

#foreach( $method in $object.method )
  ${replacer.getTypeName($method.return)} ${replacer.getMethodName($method.name)}(#foreach( $attribute in $method.attribute )${replacer.getTypeName($attribute.type)} ${replacer.getAttributeName($attribute.type)}#end) throws IOException;
#end

}
