package ${replacer.getPackageName($properties)};

import com.google.gson.annotations.SerializedName;

import java.util.List;
import lombok.Data;
import lombok.ToString;
import lombok.EqualsAndHashCode;

@Data
@ToString
@EqualsAndHashCode
public class ${filename} {

#foreach( $attribute in $object.attribute )
  @SerializedName("${replacer.getAliasName($attribute)}")
  private ${replacer.getTypeName($attribute.type)} ${replacer.getAttributeName($attribute.name)};
#end

}