package ${replacer.getPackageName($properties)};

import java.io.IOException;
import brawljars.AbstractApi;
import brawljars.ApiContext;
import brawljars.Connector;
import brawljars.RequestContext;

class ${filename} extends AbstractApi implements ${WordUtils.capitalize($object.name)}Api {

  public ${filename}(ApiContext apiContext) {
    super(apiContext);
  }

  @Override
  #foreach( $method in $object.method )
    #set($attribute=$method.attribute.get(0))
  public ${replacer.getTypeName($method.return)} ${replacer.getMethodName($method.name)}(${replacer.getTypeName($attribute.type)} ${replacer.getAttributeName($attribute.type)}) throws IOException {
    String apiKey = getApiContext().getApiKey();
    Connector connector = getApiContext().getConnector();
    String url = createUrl("${replacer.findContextValue($method.getContext(), 'url')}", ${replacer.getAttributeName($attribute.type)});
    RequestContext requestContext = new RequestContext(url, apiKey, ${replacer.getAttributeName($attribute.type)}, ${replacer.getTypeName($method.return)}.class);
    return connector.get(requestContext);
  }

#end
}