package ${replacer.getPackageName($properties)};

import brawljars.common.PaginationRequest;
import lombok.Builder;
import lombok.Getter;

@Getter
public class ${filename} extends PaginationRequest {
  #foreach( $attribute in $entity.attribute )
  private final $attribute.name;
  #end

  @Builder
  private ${filename}(int limit, String after, String before) {
    super(limit, after, before);
  }

  public static ${filename}Builder builder() {
    return new ${filename}Builder();
  }

}