package ${helper.getPackageName($properties)};

import java.io.IOException;
import brawljars.v2.api.Api;

public interface ${filename} extends Api {

#foreach( $method in $object.method )
  ${helper.getTypeName($method.return)} ${helper.getMethodName($method.name)}(#foreach( $attribute in $method.attribute )${helper.getTypeName($attribute.type)} ${helper.getAttributeName($attribute.type)}#end) throws IOException;
#end

}
