package ${helper.getPackageName($properties)};

import com.google.gson.annotations.SerializedName;

import java.util.List;
import lombok.Data;
import lombok.ToString;
import lombok.EqualsAndHashCode;

@Data
@ToString
@EqualsAndHashCode
public class ${filename} {

#foreach( $attribute in $object.attribute )
  @SerializedName("${helper.getAliasName($attribute)}")
  private final ${helper.getTypeName($attribute.type)} ${helper.getAttributeName($attribute.name)};
#end

}