package ${helper.getPackageName($properties)};

import brawljars.v2.api.common.PaginationResponse;

public class ${filename} extends PaginationResponse<${helper.findContextValue($object.getContext(), 'objectType')}> {

}