/*
 * Licensed to the Apache Software Foundation (ASF) under one or more
 * contributor license agreements.  See the NOTICE file distributed with
 * this work for additional information regarding copyright ownership.
 * The ASF licenses this file to You under the Apache License, Version 2.0
 * (the "License"); you may not use this file except in compliance with
 * the License.  You may obtain a copy of the License at
 *
 *     http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing, software
 * distributed under the License is distributed on an "AS IS" BASIS,
 * WITHOUT WARRANTIES OR CONDITIONS OF ANY KIND, either express or implied.
 * See the License for the specific language governing permissions and
 * limitations under the License.
 */
package $package;

public enum $classname {
#set($type = "")
#set($useValue = false)

#foreach( $const in $constlist )
  #set($type = $const.type)
  #if($const.value && !$useValue)#set($useValue = true)#end
  #if($const.deprecated)
  @Deprecated
  #end
  $const.name#if($const.value)(#if($const.prefix)$const.prefix#[[.getCode()]]# + #end#if($const.type == "String")"$const.value"#else $const.value#end)#end#if($foreach.count < $constlist.size()),
  #else;
  #end
#end

#if($useValue)
  private final $type code;

  private $classname($type code) {
    this.code = code;
  }

  public String getCode() {
    return code;
  }
#end

}